.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 101;
  max-width: 1200px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container01 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text {
  color: #ff7c4c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
}
.home-text01 {
  color: var(--dl-color-gray-700);
  font-style: normal;
  font-weight: 300;
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 12px;
  text-decoration: none;
  background-color: #ff7c4c;
}
.home-link:hover {
  background-color: #ef490d;
}
.home-icon {
  top: 10px;
  fill: #ffffff;
  left: var(--dl-space-space-unit);
  width: 20px;
  height: auto;
  position: absolute;
}
.home-text02 {
  font-style: normal;
  font-weight: 600;
}
.home-burger-menu {
  display: none;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  max-width: 1200px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-texto-principal {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.home-cabealho-principal {
  font-size: 3.3rem;
}
.home-ilustrao {
  flex: 0 0 auto;
  width: 50%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-image1 {
  width: 100%;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  object-fit: cover;
}
.home-funcionamento {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text04 {
  font-size: 2rem;
}
.home-passos {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-two {
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon12 {
  width: var(--dl-size-size-small);
  height: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  font-size: 1.5rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text07 {
  line-height: 1.3;
}
.home-text09 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-icon14 {
  width: var(--dl-size-size-small);
  height: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  font-size: 1.5rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text12 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text13 {
  line-height: 1.3;
}
.home-three {
  width: 60%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon16 {
  width: var(--dl-size-size-small);
  height: auto;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  font-size: 1.5rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text15 {
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text16 {
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
}
.home-container04 {
  flex: 1;
  width: 100%;
  height: 310px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
}
.home-container05 {
  flex: 0 0 auto;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.home-text17 {
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-link1 {
  cursor: pointer;
  align-self: flex-start;
  transition: 0.3s;
  text-decoration: none;
}
.home-link1:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(53, 54, 66, 0);
  background-color: #ff7c4c;
}
.home-image2 {
  width: 55%;
  height: auto;
  object-fit: cover;
}
.home-stats {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text21 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text23 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text24 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat1 {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text25 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text26 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text27 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text28 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text30 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text31 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text32 {
  color: #FF7C4C;
  font-size: 3rem;
}
.home-text34 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text35 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-testimonial {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1659948782691-369ce33c44d1?ixid=Mnw5MTMyMXwwfDF8YWxsfDM0fHx8fHx8Mnx8MTY1OTk5NTI3MA&ixlib=rb-1.2.1&w=1500");
}
.home-container06 {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 1200px;
  align-items: stretch;
  justify-content: space-between;
}
.home-container07 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container09 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-text36 {
  width: 100%;
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text38 {
  width: 100%;
  font-size: 17px;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  line-height: 1.4;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: 41%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-image3 {
  width: 100%;
  object-fit: cover;
}
.home-container14 {
  flex: 0 0 auto;
  width: 59%;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-iframe {
  width: 560px;
  height: 315px;
  border-radius: var(--dl-radius-radius-radius8);
}
.home-link2 {
  display: contents;
}
.home-icon18 {
  fill: var(--dl-color-danger-700);
  width: var(--dl-size-size-small);
  cursor: pointer;
  height: auto;
  margin-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.home-container15 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-text42 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.home-text43 {
  margin-top: var(--dl-space-space-oneandhalfunits);
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container16 {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-link3 {
  display: contents;
}
.home-icon25 {
  fill: var(--dl-color-gray-black);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container17 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.home-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text48 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text49 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text50 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text51 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text52 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text53 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text54 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text55 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text56 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container18 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text59 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text60 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text64 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-unit);
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.home-text67 {
  align-self: center;
}
.home-text69 {
  text-align: left;
}
@media(max-width: 991px) {
  .home-icon02 {
    display: flex;
  }
  .home-text21 {
    text-align: center;
  }
  .home-text25 {
    text-align: center;
  }
  .home-text28 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
  }
  .home-container06 {
    flex-direction: column;
  }
  .home-container07 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    flex-direction: column;
  }
  .home-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text26 {
    text-align: center;
  }
  .home-text30 {
    text-align: center;
  }
  .home-text34 {
    text-align: center;
  }
  .home-container06 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-logo {
    align-items: center;
  }
  .home-text43 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .home-container17 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .home-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-container06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-container15 {
    align-items: center;
    flex-direction: column;
  }
  .home-text43 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-links-container {
    align-items: center;
    flex-direction: column;
  }
  .home-container17 {
    margin-right: 0px;
  }
  .home-container18 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text67 {
    text-align: center;
  }
}
